html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(249, 206, 238);
}
.header{
    position: fixed;
    width: 100%;
    height: 80px;
    display: block;
    background-color: rgb(46, 2, 73);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    z-index: 100;
    overflow: visiable;
}
.logo{
    position: absolute;
    left: 30px;
    /* background-color: chocolate; */
    height: 100%;
    width: 80px;
    z-index: 102;
}
.contact{
    position: relative;
    top: 100px;
    background-color: rgb(46, 2, 73);;
    border-radius: 15px;
    width: 80%;
    margin: 50px;
    height: 200px;
}
.contact img{
    position: relative;
    top: 10px;
    left: 10px;
    height: 90%;
    border-radius: 15px;
}
.contactName{
    position: relative;
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 50px;
    left: 200px;
    bottom: 180px;
}
.contactNumb{
    position: relative;
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 100px;
    left: 200px;
    bottom: 192px;
}
.logo img{
    height: 120px;
    width: 120px;
    background-color: rgb(46, 2, 73);
    border-radius: 20px;
    z-index: 102;
}
.innerHeader{
    width: fit-content;
    height: 100%;
    display: block;
    margin: 0 auto;
    /* background-color: crimson; */
    text-align: center;
    font-family: 'Blaka', cursive;
    font-size: 60px;
    color: white;
}
.menu{
    position: fixed;
    background-color: rgb(169, 16, 121);
    width: 100%;
    height: 60px;
}
.tabContainer{
    /* background-color: blueviolet; */
    height: 100%;
    width: 1070px;
    display: block;
    margin: 7px auto;
    z-index: 99;
}
.tabContainer a{
    font-size: 40px;
    margin-left: 95px;
    margin-top: 50px;
    text-decoration: none;
    font-family: 'Blaka', cursive;
    color: white;
}
.tabContainer a:hover{
    color: rgb(87, 10, 87);
}
.catalog{
    background-color: rgb(249, 206, 238);
    position: relative;
    top: 60px;
}
header .info{
    background-color: #DEDEDE;
    text-align: right;
}
.infoComp{
    position: relative;
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 40px;
    top: 20px;
    left: 15px;
}
header h1{
    background-color: #80EEC3;
    margin: 0;
    padding: 20px 0 20px 15px;
}
.searchbox{
    position: relative;
    width: 220px;
    bottom: 40px;
    left: -150px;
}
.searchbox input{
    height: 35px;
    border-radius: 15px;
}
.searchbox button{
    height: 30px;
    border-radius: 16px;
}
nav{
    background-color: #80EEC3;
    padding: 10px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: inline-block;
}
.points{
    position: relative;
    display: block;
    background-color: rgb(46, 2, 73);
    border-radius: 15px;
    width: 900px;
    height: 100px;
    top: 100px;
    left: 25px;
    margin: 5px;
}
.adress{
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 50px;
    top: 20px;
    left: 15px;
}
.map{
    position: absolute;
    display: inline-block;
    background-color: rgb(46, 2, 73);
    border-radius: 15px;
    width: 900px;
    height: 700px;
    top: 160px;
    right: 25px;
    margin: 5px;
}
.prom{
    position: relative;
    display: inline-block;
    background-color: rgb(46, 2, 73);
    border-radius: 15px;
    width: 900px;
    height: 200px;
    top: 100px;
    left: 25px;
    margin: 5px;
}
.promName{
    position: relative;
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 50px;
    top: 10px;
    left: 15px;
}
.promDate{
    position: relative;
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 40px;
    top: 10px;
    left: 15px;
}
.usInfo{
    position: relative;
    display: inline-block;
    background-color: rgb(46, 2, 73);
    border-radius: 15px;
    width: 1800px;
    height: 200px;
    top: 100px;
    left: 55px;
    margin: 5px;
}
.person{
    position: relative;
    display: inline-block;
    background-color: rgb(46, 2, 73);
    border-radius: 15px;
    width: 440px;
    height: 570px;
    top: 100px;
    left: 55px;
    margin: 5px;
}
.person img{
    position: relative;
    border-radius: 20px;
    width: 300px;
    left: 75px;
    top: 30px;
}
.personName{
    position: relative;
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 40px;
    top: 20px;
    left: 70px;
}
.promDesc{
    position: relative;
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 40px;
    top: 10px;
    left: 15px;
}
nav ul li{
    width: 200px;
    display: inline-block;
    color:black;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li a, nav ul li a:visited, nav ul li a:active{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 15px 0;
    width: 100%;
    border-radius: 3px;
    transition: all 250ms;
}
nav ul li a:hover{
    color:#6BCBA5;
}
footer{
    background-color: #DEDEDE;
}
.card {
    display: inline-table;
    padding: 5px;
    padding-top: 10px;
    vertical-align: top;
}
.card.price{
    text-decoration: none;
}
.card button {
    left: 160px;
    bottom: 45px;
    position: relative;
	background-color:#44c767;
	border-radius:6px;
    border-style: none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
}
.card button:hover {
	background-color:#5cbf2a;
}
.card button:active {
	position:relative;
	bottom: 44px;
}
.card .image img,.card .image a:visited, .card .image a:active{
    width: 300px;
    height: 350px;
    border-radius: 10px;
}
img:hover{
    transform: scale(1.05);
    transition: all(300ms);
}
.modal{
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms 150ms;

    width: 300px;
    position: absolute;
    left: 50%;
    top: 200px;
    margin-left: -150px;

    border: 1px solid #333;
    border-radius: 10px;
    background-color: rgb(169, 16, 121);
    text-align: justify;
    padding: 10px;
    box-shadow: 0 0 7px #333;

}
.modal i{
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 20px;
    margin-bottom: 18px;
}
.modal a{
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 40px;
    margin-bottom: 18px;
}
.modal li{
    font-family: 'Blaka', cursive;
    color: white;
    font-size: 50px;
    margin-bottom: 18px;
}
.modal button{
    padding: 7px;
}
.modalIMG img{
    width: 400px;
}
.product-name{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #101010;
    text-decoration: none;
    text-decoration-color: #DEDEDE;
}
.price{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
}

.overlay{
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms;

    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}
.modal .message img{
    max-width: 300px;
    }
.trolley{
    background-color: rgb(46, 2, 73);
    border-radius: 20px;
    position: fixed;
    right: 30px;
    z-index: 101;
}
.trolley img{
    position: relative;
    right: 7px;
    width: 90px;
    padding-top: 30px;
}
#productCount{
    display: none;
    position: absolute;
    top: 110px;
    right: 60px;
    border-radius: 50%;
    background-color: cornflowerblue;
    padding: 7px;
}

